*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #000;
    color: #fff;
    
}
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(5, 5, 42, 0.7),rgba(0,0,0,0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    box-shadow: inset 80px 100px 250px #000000, inset -80px -100px 250px #000000;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
.logo {
    width: 150px;
    cursor: pointer;
}
nav button {
    border: 1px;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 13px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn {
    display: inline-flex;
    align-items: center;
    background: rgba(0,0,0,0.4);
    border: 0.5px solid #fff;
    padding: 7px 10px;
}
.language-btn img {
    width: 7px;
    margin-left: 10px;
}
.language-btn .globe {
    width: 13px;
    margin-right: 5px;
}
.sign-in{
    border: 0.5px solid #db0001;
}
.sign-in:hover{
    background-color: rgba(172, 0, 0, 0.6);
    transition: background-color 1.1s ease;
}
.header-content{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;

}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup {
    background-color: #fff;
    border-radius: 4px;
    display:flex;
    align-items: center;
    margin-top:30px;
    overflow: hidden;
}
.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    font-size: 13px;
}
.email-signup button {
    background: #db0001;
    border: 1px;
    border-color: #6e0303f0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 25px;

}
.email-signup button img {
    width: 20px;
    margin-left: 10px;
    margin-bottom: -4px;
}
.email-signup button:hover .Get{
    animation: move-right 0.8s ease-in-out alternate infinite;
}
.email-signup button:hover{
    background-color: #760404;
    transition: background-color 1.1s ease;
}
@keyframes slideInRight {
    from {
      transform: translateX(-300px);
      color: #ffffff02;
    }
  
    to {
      transform: translateX(0);
      color: #fff;
    }
  }
  
  .slideInRight {
    animation-name: slideInRight;
    animation-timing-function: ease-in;
  }
  .animate {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animate.animate--medium {
    animation-delay: 0.9s;
  }
  .animate.animate--fast {
    animation-delay: 0.5s;
  }
  .animate.animate--slow {
    animation-delay: 1.2s;
  }
@keyframes move-right{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(20px);
    }
}